
h1{
    font-family: 'Bangers', cursive;
}
h2{font-family: 'Abril Fatface', cursive; font-size: 40px;}
body{background-image: url(fondo1.jpg); background-size: cover;}
li{color: white
; font-family: 'Tilt Prism', cursive; font-size: 40px;}
a{color: black;}